<div class="list row">
 
  <div class="col-md-6">
    <h4>Class List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let row of myclasses; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveMyClass(row, i)"
      >
        <button class="btn btn-primary">{{ row.name }}</button>
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllMyClasses()">
      Remove All
    </button>
    
  </div>
  <div class="col-md-6">
    <div *ngIf="currentMyClass.id">
      <h4>Class</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentMyClass.name }}
      </div>
      <div>
        <label><strong>Code:</strong></label>
        {{ currentMyClass.code }}
      </div>
      <div>
        <label><strong>Maximum Students:</strong></label>
        {{ currentMyClass.maximum_students }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentMyClass.status }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentMyClass.description }}
      </div>

      <a
        class="badge badge-warning"
        routerLink="/classes/{{ currentMyClass.id }}"
      >
        Edit
      </a>
    </div>

    <div *ngIf="!currentMyClass">
      <br />
      <p>Please click on a Class...</p>
    </div>
  </div>
</div>
